* {
  box-sizing: border-box;
  margin: 0;
}

@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lobster/v28/neILzCirqoswsqX9zoKmM4MwWJU.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotoslab/v24/BngMUXZYTXPIvIBgJJSb6ufN5qWr4xCC.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {

  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #FFFFFF;
}


nav {
  width: 100%;
  height: 9vh;

}

nav ul {
  display: flex;
  color: #999999;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;

}

li a {
  text-decoration: none;
  color: rgba(51, 51, 51, 0.85);
  font-size: 1.2rem;
  font-weight: 400;
}

li a:hover {
  color: rgb(0, 0, 0);

}

main {
  width: 100%;
  height: 82vh;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.text-main {
  width: 30rem;
  margin: 0 3rem;
  height: 30rem;
  display: flex;
  justify-content: center;
  flex-direction: column;

}


h1 {
  width: 100%;
  height: 100%;
  line-height: 5.4rem;
  font-family: 'Lobster', cursive;
  font-size: 6rem;
  font-weight: 300;
  color: rgb(51, 51, 51);
}

.title {
  width: 45rem;
  height: 36rem;
  font-size: 1.5rem;
  font-weight: 300;
  color: rgb(51, 51, 51);
}

p {
  width: 39rem;
  text-align: left;
  font-family: 'Lexend', sans-serif;
  height: 15rem;
  font-size: 2.4rem;
  font-weight: 300;
  color: #333;
}

.gift {
  position: relative;
  width: 33rem;
  height: 33rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;

}

.gift iframe {
  width: 100%;
  height: 100%;
}

.logo img {
  width: 9rem;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  width: 100vw;
  height: 9vh;
}

.container {
  width: 100%;
  height: 9vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F4F3F4;
}

.list-inline {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.list-inline-item {
  width: 3rem;
  height: 3rem;
  display: flex;

  justify-content: center;
  align-items: center;
  margin: 0 3rem;
}

.container p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  font-size: 0.6rem;
  font-weight: 300;
  color: #333;
}

.list-inline-item i {
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.81);
}

.list-inline-item i:hover {
  color: rgb(216, 78, 14);
}

/* media queries 900 */
@media screen and (max-width: 900px) {
  main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


  }

  .text-main {
    width: 33rem;
    height: 18rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  h1 {
    font-family: 'Lobster', cursive;
    width: 100%;
    height: 6rem;
    font-size: 4.2rem;
    line-height: 1.2;
    text-align: center;
    color: rgb(51, 51, 51);
  }

  .text-main p {
    text-align: center;
    line-height: 2.1rem;
    margin-top: 2.4rem;
    font-size: 1.6rem;
  }
}

/*`media queries 768`*/

@media screen and (max-width: 768px) {
  .text-main {
    width: 33rem;
    height: 18rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .gift {
    width: 33rem;
    height: 33rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .gift iframe {
    width: 100%;
    height: 100%;
  }

  .logo img {
    width: 9rem;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .list-inline-item {
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
  }

  .list-inline-item i {
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.81);
  }

  .list-inline-item i:hover {
    color: rgb(216, 78, 14);
  }

  .container p {
    display: flex;

    font-family: 'Lexend', sans-serif;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    font-size: 0.6rem;
    font-weight: 300;
    color: #333;
  }
}




