/*!* Navigation *!*/

nav {
    width: 100%;
    height: 9vh;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-items{
    display: none;
}

.logo {
    width: 9rem;
    height: 9rem;
    font-size: 1.5em;
    margin-left: 2.1rem;
}

.start-btn-burger {
    width: 21rem;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 2.1rem;
}

.burger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40px;
    height: 40px;
    margin: 10px;
    position: relative;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}

.burger-line {
    width: 100%;
    height: 4px;
    background-color: #333;
    border-radius: 4px;
    transition: all 0.3s ease;
}


.burger.active .burger-line:nth-child(1) {
    transform: rotate(45deg) translate(13px, 6px);
}

.burger.active .burger-line:nth-child(2) {
    opacity: 0;
}

.burger.active .burger-line:nth-child(3) {
    transform: rotate(-45deg) translate(13px, -6px);
}


.start-btn {
    width: 10rem;
    height: 3rem;
    border: 2px solid rgba(65, 65, 66, 0.94);
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
    color: rgba(0, 0, 0, 0.6);
    font-family: 'Lexend', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    text-decoration: none;
    box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.69);
}

.nav-items-movil {
    position: absolute;
    background: white;
    list-style: none;
    margin: 0;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transform: translateX(100%);
}

.nav-items-movil a {
    font-family: 'Lexend', sans-serif;
    font-weight: 300;
    color: #333;
    font-size: 1.8em;
    text-decoration: none;
}
.nav-items-movil a:hover {
    color: #f07a42;
    text-decoration: none;
}
main {
    width: 100%;
    margin-top: 3.3rem;
    height: 78vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}

main .text-main {
    width: 100%;
    height: 21rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

main #asistente {
    width: 100%;
    height: auto;
    object-fit: cover;
    overflow: clip;

}

.box-1 {
    margin: 1rem;
    width: 100%;
    height: 5rem;
}

.text-main h1 {
    width: 90%;
    margin: 0 1.5rem;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 2.7rem;
    font-weight: 300;
    color: rgb(60, 60, 60);
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 3px 3px 6px rgba(123, 122, 122, 0.84);
}

.text-main p {
    color: #3a3a3a;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1.5rem;
    text-align: center;
    font-family: 'Lexend', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    width: 90%;
    text-shadow: 3px 3px 6px rgba(144, 143, 143, 0.72);

}

.container-principal-button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* footer */


footer {
    width: 100%;
    height: 9vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list-inline {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #FFFFFF;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;

}

.list-inline-item {
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 3rem;
}

footer p {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    align-items: center;
    text-align: center;
    width: 100%;
    font-size: 0.9rem;
    font-weight: 300;
    background-color: #FFFFFF;
    color: #333;
}

.list-inline-item i {
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.81);
}

.list-inline-item i:hover {
    color: rgb(216, 78, 14);
}

@media screen and (min-width: 768px) {

    /*nav*/
    .burger {
        display: none;
    }
    .nav-items-movil{
        display: none;
    }
    .nav {
        display: flex;
    }

    .nav-items {
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        list-style: none;
    }

    .nav-items a {
        font-family: 'Lexend', sans-serif;
        font-weight: 300;
        color: #333;
        font-size: 1.2em;
        text-decoration: none;
    }



    /*main*/
    main {
        margin: 0;
        width: 100%;
        height: 82vh;
        display: flex;
        flex-direction: row;

    }

    main #asistente {
        position: absolute;
        right: -132px;
        bottom: 9vh;
        width: 66rem;
        height: auto;
        z-index: -1;
        object-fit: cover;
        border-radius: 0.5rem;
    }

    main .text-main {
        width: 60%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;

    }

    .box-1 {

        padding-left: 1rem;
        width: 30rem;
        height: 7.2rem;
        display: flex;
        justify-content: start;
        align-items: center;
        text-align: left;

    }

    #title {
        font-size: 3.9rem;
        font-weight: 300;
        text-align: left;
        color: rgb(60, 60, 60);
        line-height: 1;
        display: flex;
        justify-content: start;
        align-items: center;
    }

    #descripcion {
        color: #3a3a3a;
        display: flex;
        justify-content: start;
        align-items: center;
        margin: 0 1.5rem;
        text-align: left;
        font-family: 'Lexend', sans-serif;
        font-size: 1.5rem;
        font-weight: 400;
        text-shadow: 3px 3px 6px rgba(144, 143, 143, 0.72);
    }

}

@media screen and (min-width: 1024px) {
    main #asistente {
        position: absolute;
        right: -90px;
        bottom: 9vh;
        width: 66rem;
        height: auto;
        z-index: -1;
        object-fit: cover;
        border-radius: 0.5rem;
    }

    .box-1 {
        padding-left: 4.5rem;
    }
}


/*h1 {*/
/*    font-family: 'Lobster', cursive;*/
/*    width: 100%;*/
/*    height: 9rem;*/
/*    font-size: 3.9rem;*/
/*    line-height: 1.2;*/
/*    text-align: left;*/
/*    color: rgb(51, 51, 51);*/
/*}*/

/*.text-main p {*/
/*    width: 100%;*/
/*    height: 9rem;*/
/*    margin: 0 1rem 2.4rem 1rem;*/
/*    text-align: left;*/
/*    line-height: 2.1rem;*/

/*    font-size: 1.6rem;*/
/*}*/




